@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    font-family: Oswald;
    background-color: black;

}

/* nav bar css  */
.nav header {
    padding: 1rem 1.5rem;
    height: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-shadow: 1px;
    color: #f6be00;
    text-decoration: solid;
    font-weight: bolder;


}

nav {
    /*  
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    padding: 1.5rem, 1rem;
    box-sizing: border-box;
  */
    background: rgb(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    margin-left: auto;

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    color: #f6be00;
    margin-left: auto;

}

nav ul li a {
    color: #f6be00;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

#img {
    width: 100rem;
    height: 40rem;
    background: url("https://i.postimg.cc/JnKnD9fB/ym2.jpg");
    background-size: cover;
    background-position: center;
}


h1 {
    font-family: Oswald;
    font-size: 50px;
    color: #f6be00;
    text-decoration: solid 1px;
    text-shadow: 1px 1px black;
    width: 100%;
    position: absolute;
    top: 30%;
    transition: none;
    text-align: center;
    
   

}

/* classes css */






h2 {
    color: #f6be00;
    text-align: center;
    font-size: x-large;
    font-size: 50px;
    

}

.classes {
    display: flex;
    background-color: #f6be00;
   

}

.classes img {
    width: 30rem;
    padding: 2%;
    box-sizing: border-box;
   

}

.classes p {
    text-align: left;
    font-size: 1.5rem;
    margin-right: 2rem;
    color: black;
    font-family: Oswald;
    padding-left: 0 auto;
    padding-top: 1rem;
    
    

    


}

.weight {
    display: flex;
    background-color: black;
}

.weight img {
    width: 30rem;
    padding: 2%;
    box-sizing: border-box;
}

.weight p {
    text-align: left;
    font-size: 1.5rem;
    margin-right: 2rem;
    color: #f6be00;
    font-family: Oswald;
    padding-left: 0 auto;
    padding-top: 1rem;
   




}

.box {
    display: flex;
    background-color: #f6be00;
}


.box img {
    width: 30rem;
    padding: 2%;
    box-sizing: border-box;

}

.box p {
    text-align: left;
    font-size: 1.5rem;
    margin-right: 2rem;
    color: black;
    font-family: Oswald;
    padding-left: 0 auto;
    padding-top: 1rem;
    
}


.yoga {
    display: flex;
    background-color: black;
}

.yoga img {
    width: 30rem;
    padding: 2%;
    box-sizing: border-box;
    


}

.yoga p {
    text-align: left;
    font-size: 1.5rem;
    color: #f6be00;
    font-family: Oswald;
    padding-left: 0 auto;
    padding-top: 1rem;
    
    
    


}

#plan{
    background-color: #f6be00;
}
#plan h3 {
    color: black;
    font-family: Oswald;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    margin-left: 0;
}

#plan p {
    color: black;
    font-family: Oswald;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    margin-left: 1%;
   


}



.fab {
    display: inline-block;
    color: #f6be00;
    font-size: 40px;
    text-align: center;


}

#add p {
    color: #f6be00;
    font-family: Oswald;
    font-size: 150%;
    text-align: center;

}

/* footer and social links css */


.soc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    align-items: baseline;



}
button {
    display: flex;
    justify-content: center;
    width: 8rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: black;
    font-size: medium;
    background-color: black;
    border-radius: 2rem;
    line-height: 3rem;
    margin-left: 45%;
    color: #f6be00;
    text-decoration: hidden;
}



/* our facilities html */

#photo {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 1;
}

#photo img {
    width: 100%;
}






/* contact page css */

.sign-up {

    margin: 2%;
    border-radius: 2rem;
    display: column;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    border: solid 0.5rem #f6be00;
    border-bottom: 2rem;
    margin-right: 35%;
    margin-top: 5%;

  

}

h4 {
    text-align: center;
    font-size: 2rem;
    color: #f6be00;
    font-weight: bolder;
    align-items: center;
}

form {
    width: 4rem;
    margin-left: 24%;
    
}

form label {
    display: flex;
    width: 6rem;
    line-height: 3rem;
    font-size: 1rem;
    color: #f6be00;
    

}

form input {
    width: 10rem;
    height: 2rem;
    background-color: #f6be00;
    border-radius: 2rem;
    line-height: 3rem;
    justify-content: 3rem;
    



}

#message{
    width: 200px;
    height: 100px;
    background-color: #f6be00;
    border-radius: 0.5rem;
}


#btt{
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 2rem;
    margin-left: -40%;
    text-decoration: hidden;
}

/* talk to us css */

h5 {
    text-align: center;
    font-family: Oswald;
    font-size: 3rem;
    font-weight: bolder;
    color: #f6be00;


}

.steps {
    text-align: left;
    color: #f6be00;
    display: flex;
}
.steps img{
    width: 40%;
    height: 30%;
}
.steps p{
    margin: 1%;
    padding: 1%;
  
}
h6 {
    font-family: Oswald;
    font-size: 3rem;
    font-weight: bolder;
    color: #f6be00;
    text-align: center;
}

#types {
    font-size: 16px;
    font-family: Oswald;
  

}

#types img{
    width: 30%;
    margin-left: 0.5rem;
}

#types span {
    font-size: 18px;
    font-weight: bold;
}
#types p{
    text-align: left;
    font-size: 90%;
    margin-left: 1rem;
    color: #f6be00;
    font-family: Oswald;
  
}

#nhs {
    font-size: 19px;
}

#link {
    position: absolute;
    top: 160%;
    font-size: 20px;
    color: #f6be00;

}

#link a:hover {
    text-decoration: solid;
}
#matter{
    overflow: hidden;
    display: inline;
    max-width: 30%;
    margin: 7%;
   


}
  
/* Updated */
@media screen and (max-width: 768px) {

    .nav header {
        font-size: 0.5rem;
        text-align: left;


    }

    #img {
        width: 19em;
        justify-content: center;
        margin: 0 auto;

    }

    .nav ul li a {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 0.5rem;
        margin: 0, auto;
    }

    h1 {
        font-size: 1rem;
    }


    .sign-up {
       
        margin: 0 auto;
        border-radius: soild 0.5rem #f6be00;

    }


    h2 {
        font-size: 15px;


    }

    .classes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;


    }

    .classes img {
        width: 17rem;
    }

    .classes p {
        font-size: 1rem;
        justify-content: center;
        flex-direction: column;
        font-family: Oswald;
        align-items: center;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;



    }

    .cross {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
    }

    .cross img {
        width: 17rem;


    }

    .cross p {
        font-size: 1rem;
        justify-content: center;
        flex-direction: column;
        font-family: Oswald;
        align-items: center;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .weight {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
    }

    .weight img {
        width: 17rem;

    }

    .weight p {
        font-size: 1rem;
        justify-content: center;
        flex-direction: column;
        font-family: Oswald;
        align-items: center;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;

    }


    .box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
    }


    .box img {
        width: 17rem;

    }

    .box p {
        font-size: 1rem;
        justify-content: center;
        flex-direction: column;
        font-family: Oswald;
        align-items: center;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .yoga {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
    }

    .yoga img {
        width: 17rem;


    }

    .yoga p {
        font-size: 1rem;
        justify-content: center;
        flex-direction: column;
        font-family: Oswald;
        align-items: center;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;

    }


    #plan h3 {
        font-size: 10px;
    }

    #plan p {
        font-size: 10px;
    }

    #add p {
        font-size: 10px;
    }
    button {
        margin-left: 6rem;
        width: 0 auto;

    }


    h4 {
        font-size: 1rem;
    }

    form label {
        font-size: 1rem;
    }

    form input {
        width: 0 auto;
        background-color: #f6be00;
    }
.sign-up form{
    width: 2rem;
}
#btt{
    margin-left: -5rem;
}
iframe{
    width: 100%;
    height: 40%;
}

#photo{
    column-count: 1;

}

    h5 {
        display: flex;
        font-size: 12px;
        padding-left: 0.5rem;
        text-align: center;
        justify-content: center;


    }

    .steps p {
        font-size: 0.5rem;

    }

    h6 {
        font-size: 1rem;
        margin-top: 0 auto;

    }

    .types p {
        font-size: 1rem;
    }
    #matter{
        width: 20%;
    }
    #matter img{
        column-count: 2;
        width: 45%;
        margin-left: -2%;
    }
}


